extends game-template

block page_title

block navigation
      .nav-container
        block navTitle
          .nav-title Quick Navigation
        block navLinks
          .nav-links
            a(href='#aiming') Aim Overview
            a(href='#mouse') Mouse Control
            a(href='#crosshair') Crosshair Placement
            a(href='#movement') Movement Mechanics
            a(href='#practice') Practice Routine
            a(href='#overview') Overview

block intro_image

block section_introduction
  | Welcome to our comprehensive guide on different mechanics within Rainbow Six Siege

block section_aiming_overview
  | Aiming is very important in the game , however it is not all fundamentals as it is a very tactical shooter.
  | Rainbow Six Siege relies on speradic crosshair placement whilst moving or holding angles.
  | Just like in real life , all guns have different recoils and patterns , some guns are easier to use but offer less damage.
  | However , with this being said , every gun can 1 bullet headshot , meaning the enemy will die to any gun after getting hit in the head.

block section_aiming_styles 
  | There aren't really alot of aiming styles in rainbow six siege as it is a tactical shooter , however everyone plays on a different sensitivity.
  | Depending on your prefrences and hardware , the weight of your mouse , your dpi and even the surface you play on can all affect your aim.
  | All guns have different kickback but most people stick to one sensitivty throughout no matter the role of support , fragger or flex.
block section_aiming_tip 
  | Be sure to always be aiming head height , however you may have to adjust towards the players vertical position.
  | In the game you can stand , crouch and laydown. All of these make it so you have to adjust any crosshair placement in-order to get the kill effectivilty.

block section_mouse_control
  | Having a steady surface and smooth surface for your mouth in-order to have the best mouse control , make sure the mouse also fits your hand well and have a comfortable grip.
  | Make sure the mouse moves with your whole arm or wrist depending on your gaming style.

block section_sensitivity
  | When starting out the game , try out many different sensitivities to see which one works best for you.
  | Once you find something you feel comfortable using , stick to it and you will see yourself dominate your opponents.

block section_crosshair_placement
  | Always aim head , otherwise if you hear the enemy chage stance aim else where.
  | Be sure not too go over the head height of your enemy as the recoil will go vertically up.

block crosshair_placement_image 

block crosshair_design
  | There aren't really any customisable crosshairs you can have , since you can aim in with different scopes , you have a set crosshair to the different sights.
  | There are 11 sights you can choose from.
  | 1x , 1.5x , 2x , 4.5x scopes.

block section_movement_overview
  | There are tactical sprints in the game but you cannot run and gun. You can be in different stances throughout different durations.
  | With other FPS shooters , you cannot jump whenever you want.
