extends game-template

block page_title

block navigation
      .nav-container
        block navTitle
          .nav-title Quick Navigation
        block navLinks
          .nav-links
            a(href='#aiming') Aim Overview
            a(href='#mouse') Mouse Control
            a(href='#crosshair') Crosshair Placement
            a(href='#movement') Movement Mechanics
            a(href='#practice') Practice Routine
            a(href='#overview') Overview

block intro_image

block section_introduction
  | Welcome to our comprehensive guide on different mechanics within Rainbow Six Siege

block section_aiming_overview
  | Aiming is very important in the game , however it is not all fundamentals as it is a very tactical shooter
  | Rainbow Six Siege relies on speradic crosshair placement whilst moving or holding angles 
  | Just like in real life , all guns have different recoils and patterns , some guns are easier to use but offer less damage
  | However , with this being said , every gun can 1 bullet headshot , meaning the enemy will die to any gun after getting hit in the head

block section_aiming_styles 

block section_aiming_tip 

block section_mouse_control 

block section_sensitivity 

block section_crosshair_placement

block crosshair_placement_image 

block crosshair_design 

block section_movement_overview 

block movement_practice 

block practice_overview 

block practice_routine 

block section_overview