extends layout

block content
    h1(style="color: #43c6c1") Games

    .box
        style.
            width: 200px
            height: 100px
            border: 1px solid black 
            padding: 10px
            margin: 10px
        img(src="/images/elements.jpg", alt="elements", style="width: 100%; height: auto;")
