extends layout

block content
  html
    head
      title Leaderboard
      style.
        body {
          font-family: Arial, sans-serif;
          background: #3f3f3f;
          color: white;
          text-align: center;
          margin: 0;
          height: 100vh;
        }
        .leaderboard {
          max-width: 400px;
          margin: 0 auto; /* Ensures it's centered horizontally */
          background: #5dc5c1;
          padding: 20px;
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(0, 16, 66, 0.1);
        }
        .leaderboard-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px;
          border-bottom: 1px solid #444;
        }
    body
      .content
        .leaderboard