extends layout

block content
  h1 Reaction Test - #{difficulty} Mode

  style.
    body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color:rgb(48, 47, 47);
      margin: 0;
    }

    .reaction-container {
      text-align: center;
    }

    #reaction-box {
      width: 300px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: turquoise;
      cursor: pointer;
      border-radius: 10px;
      font-size: 24px;
      font-weight: bold;
      transition: background-color 0.3s ease-in-out;
      text-align: center;
    }

    #reaction-time {
      font-size: 22px;
      font-weight: bold;
    }

  .reaction-container
    p#reaction-time Ready to Start!
    div#reaction-box 
      | Click to Start

  script(src="/coursework\app\services\reactionTest.js") // Link to JavaScript file