extends layout

block content
  h1 Reaction Test

  .reaction-container
    p#reaction-time Click to Start!
    div#reaction-box 
      | Ready to Start

  script(src="/js/reaction-test.js") // Link to JavaScript file

  style.
    .reaction-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh; /* Full screen height */
    }

    #reaction-box {
        width: 250px;
        height: 250px;
        border: 3px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        font-weight: bold;
        background-color: turquoise;
        cursor: pointer;
        user-select: none;
        text-align: center;
    }