extends game-template

block page_title

block navigation
      .nav-container
        block navTitle
          .nav-title Quick Navigation
        block navLinks
          .nav-links
            a(href='#aiming') Aim Overview
            a(href='#mouse') Mouse Control
            a(href='#crosshair') Crosshair Placement
            a(href='#movement') Movement Mechanics
            a(href='#practice') Practice Routine
            a(href='#overview') Overview

block intro_image

block section_aiming_overview

block section_aiming_styles 

block section_aiming_tip 

block section_mouse_control 

block section_sensitivity 

block section_crosshair_placement

block crosshair_placement_image 

block crosshair_design 

block section_movement_overview 

block movement_practice 

block practice_overview 

block practice_routine 

block section_overview