extends layout 

block content
    h1 Tasks
    .header {
        width:100%;
        float:left;
    }

    .image img {
        width:100%;
        float:left;
    }

    .description{
        width:100%
        float:left;
    }
    
    <div class="container">
        <div class="block">
            <div class="header">Aim Trainer</div>
            <div class="image"><img src="https://tr.rbxcdn.com/180DAY-11680b41dbbed0d4d49b13d4c39c02ce/768/432/Image/Webp/noFilter" alt=""></div>
            <div class="description">Test your Aim!</div>
        </div>
        <div class="block">
            <div class="header">Reaction Test </div>
            <div class="image"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZl7w16PU6k0UltqcwlobWihA9HNsqteamcw&s" alt=""></div>
            <div class="description">Test your reaction speed </div>
        </div>
        <div class="block">
            <div class="header">Memory Test</div>
            <div class="image"><img src="https://hips.hearstapps.com/hmg-prod/images/thumbnail-1-1461101041.jpg" alt=""></div>
            <div class="description">Test your memory</div>
        </div>
    </div>