extends layout 

block content
    h1 Tasks

    style.
        .header {
            width: 100%;
            float: left;
        }

        .image img {
            width: 100%;
            float: left;
        }

        .description {
            width: 100%;
            float: left;
        }

    .container
        .block
            .header Aim Trainer
            .image 
                img(src="https://tr.rbxcdn.com/180DAY-11680b41dbbed0d4d49b13d4c39c02ce/768/432/Image/Webp/noFilter" alt="")
            .description Test your Aim!

        .block
            .header Reaction Test
            .image 
                img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZl7w16PU6k0UltqcwlobWihA9HNsqteamcw&s" alt="")
            .description Test your reaction speed 

        .block
            .header Memory Test
            .image 
                img(src="https://hips.hearstapps.com/hmg-prod/images/thumbnail-1-1461101041.jpg" alt="")
            .description Test your memory
