extends game-template

block page_title
  h1 VALORANT mechanics guide

block navigation
      .nav-container
        block navTitle
          .nav-title Quick Navigation
        block navLinks
          .nav-links
            a(href='#aiming') Aim Overview
            a(href='#mouse') Mouse Control
            a(href='#crosshair') Crosshair Placement
            a(href='#movement') Movement Mechanics
            a(href='#practice') Practice Routine
            a(href='#overview') Overview

block section_introduction
  | Welcome to our comprehensive guide on different mechanics within Valorant

block intro_image
  .image-container
    img.img-full(src="https://www.gamespot.com/a/uploads/original/1574/15747411/3680136-vlcsnap-2020-06-05-18h37m25s452.png" alt="Player aiming precisely")
    .image-caption Valorant Gameplay

block section_aiming_overview
  | Aiming in Valorant is much more static than in other games
  | Instead of fast paced movement, Valorant relies more on calm, steady crosshair placement and strong micro-adjustments
  | All guns in the game have a movement error (you can't shoot properly while moving) while also dealing very high headshot damage 
  | This puts a huge emphasis on headshot accuracy, positioning and crosshair placement in order to be successful within duels

block section_aiming_styles
  | Different aiming styles appear depending on a multitude of factors, such as: the agent you're playing, the weight of your mouse, the guns you prefer to use
  | Players opting to main the Duelist class often prefer to use a higher sensitivity as it allows for faster adjustments in high stress situations when entrying a site 
  | Similarly, players opting to play more static characters like Sentinel agents often prefer a lower sensitivity and a controlled approach to aiming as their role revolves around holding space, not taking it

block section_aiming_tip
  | some quote from some pro here

block section_mouse_control 

block section_sensitivity 

block section_crosshair_placement

block crosshair_placement_image 

block crosshair_design 

block section_movement_overview 

block movement_practice 

block practice_overview 

block practice_routine 

block section_overview